lirkovdf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "lirkovdf"
		},
		"adlslirkov_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'adlslirkov'"
		},
		"lirkov_databricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'lirkov_databricks'"
		},
		"lirkovdb_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'lirkovdb'"
		},
		"lirkovdl_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'lirkovdl'"
		},
		"Http_Covid19_Cases_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://data.humdata.org/hxlproxy/data/download/time_series_covid19_confirmed_global_narrow.csv?dest=data_edit&filter01=merge&merge-url01=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2Fe%2F2PACX-1vTglKQRXpkKSErDiWG6ycqEth32MY0reMuVGhaslImLjfuLU0EUgyyu2e-3vKDArjqGX7dXEBV8FJ4f%2Fpub%3Fgid%3D1326629740%26single%3Dtrue%26output%3Dcsv&merge-keys01=%23country%2Bname&merge-tags01=%23country%2Bcode%2C%23region%2Bmain%2Bcode%2C%23region%2Bsub%2Bcode%2C%23region%2Bintermediate%2Bcode&filter02=merge&merge-url02=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2Fe%2F2PACX-1vTglKQRXpkKSErDiWG6ycqEth32MY0reMuVGhaslImLjfuLU0EUgyyu2e-3vKDArjqGX7dXEBV8FJ4f%2Fpub%3Fgid%3D398158223%26single%3Dtrue%26output%3Dcsv&merge-keys02=%23adm1%2Bname&merge-tags02=%23country%2Bcode%2C%23region%2Bmain%2Bcode%2C%23region%2Bsub%2Bcode%2C%23region%2Bintermediate%2Bcode&merge-replace02=on&merge-overwrite02=on&filter03=explode&explode-header-att03=date&explode-value-att03=value&filter04=rename&rename-oldtag04=%23affected%2Bdate&rename-newtag04=%23date&rename-header04=Date&filter05=rename&rename-oldtag05=%23affected%2Bvalue&rename-newtag05=%23affected%2Binfected%2Bvalue%2Bnum&rename-header05=Value&filter06=clean&clean-date-tags06=%23date&filter07=sort&sort-tags07=%23date&sort-reverse07=on&filter08=sort&sort-tags08=%23country%2Bname%2C%23adm1%2Bname&tagger-match-all=on&tagger-default-tag=%23affected%2Blabel&tagger-01-header=province%2Fstate&tagger-01-tag=%23adm1%2Bname&tagger-02-header=country%2Fregion&tagger-02-tag=%23country%2Bname&tagger-03-header=lat&tagger-03-tag=%23geo%2Blat&tagger-04-header=long&tagger-04-tag=%23geo%2Blon&header-row=1&url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_covid19_confirmed_global.csv"
		},
		"Http_Covid19_Deaths_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://data.humdata.org/hxlproxy/data/download/time_series_covid19_deaths_global_narrow.csv?dest=data_edit&filter01=merge&merge-url01=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2Fe%2F2PACX-1vTglKQRXpkKSErDiWG6ycqEth32MY0reMuVGhaslImLjfuLU0EUgyyu2e-3vKDArjqGX7dXEBV8FJ4f%2Fpub%3Fgid%3D1326629740%26single%3Dtrue%26output%3Dcsv&merge-keys01=%23country%2Bname&merge-tags01=%23country%2Bcode%2C%23region%2Bmain%2Bcode%2C%23region%2Bsub%2Bcode%2C%23region%2Bintermediate%2Bcode&filter02=merge&merge-url02=https%3A%2F%2Fdocs.google.com%2Fspreadsheets%2Fd%2Fe%2F2PACX-1vTglKQRXpkKSErDiWG6ycqEth32MY0reMuVGhaslImLjfuLU0EUgyyu2e-3vKDArjqGX7dXEBV8FJ4f%2Fpub%3Fgid%3D398158223%26single%3Dtrue%26output%3Dcsv&merge-keys02=%23adm1%2Bname&merge-tags02=%23country%2Bcode%2C%23region%2Bmain%2Bcode%2C%23region%2Bsub%2Bcode%2C%23region%2Bintermediate%2Bcode&merge-replace02=on&merge-overwrite02=on&filter03=explode&explode-header-att03=date&explode-value-att03=value&filter04=rename&rename-oldtag04=%23affected%2Bdate&rename-newtag04=%23date&rename-header04=Date&filter05=rename&rename-oldtag05=%23affected%2Bvalue&rename-newtag05=%23affected%2Binfected%2Bvalue%2Bnum&rename-header05=Value&filter06=clean&clean-date-tags06=%23date&filter07=sort&sort-tags07=%23date&sort-reverse07=on&filter08=sort&sort-tags08=%23country%2Bname%2C%23adm1%2Bname&tagger-match-all=on&tagger-default-tag=%23affected%2Blabel&tagger-01-header=province%2Fstate&tagger-01-tag=%23adm1%2Bname&tagger-02-header=country%2Fregion&tagger-02-tag=%23country%2Bname&tagger-03-header=lat&tagger-03-tag=%23geo%2Blat&tagger-04-header=long&tagger-04-tag=%23geo%2Blon&header-row=1&url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_covid19_deaths_global.csv"
		},
		"Http_Covid19_Vaccinations_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://proxy.hxlstandard.org/data.csv?tagger-match-all=on&tagger-01-header=location&tagger-01-tag=%23country%2Bname&tagger-02-header=iso_code&tagger-02-tag=%23country%2Bcode&tagger-03-header=date&tagger-03-tag=%23date&tagger-04-header=total_vaccinations&tagger-04-tag=%23total%2Bvaccinations&tagger-08-header=daily_vaccinations&tagger-08-tag=%23total%2Bvaccinations%2Bdaily&url=https%3A%2F%2Fraw.githubusercontent.com%2Fowid%2Fcovid-19-data%2Fmaster%2Fpublic%2Fdata%2Fvaccinations%2Fvaccinations.csv&header-row=1&dest=data_view"
		},
		"adlslirkov_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlslirkov.dfs.core.windows.net"
		},
		"lirkovdl_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://lirkovdl.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Global Executor')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Inbound - Raw",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Inbound - Raw",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Raw - Base",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Inbound - Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Raw - Base",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Warehouse",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Raw - Base",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Warehouse",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Inbound - Raw')]",
				"[concat(variables('factoryId'), '/pipelines/Raw - Base')]",
				"[concat(variables('factoryId'), '/pipelines/Warehouse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Inbound - Raw')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Inbound_Covid19_Deaths",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Http_Covid19_Deaths",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Inbound_Covid19_Deaths",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Inbound_Covid19_Cases",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Http_Covid19_Cases",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Inbound_Covid19_Cases",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "RAW_Covid19_Deaths",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Inbound_Covid19_Deaths",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Inbound_Covid19_Deaths",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Raw_Covid19_Deaths",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "RAW_Covid19_Cases",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Inbound_Covid19_Cases",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Inbound_Covid19_Cases",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Raw_Covid19_Cases",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Inbound_Covid19_Vaccinations",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Http_Covid19_Vaccinations",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Inbound_Covid19_Vaccinations",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "RAW_Covid19_Vaccinations",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Inbound_Covid19_Vaccinations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Inbound_Covid19_Vaccinations",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Raw_Covid19_Vaccinations",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-12-06T05:26:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Http_Covid19_Deaths')]",
				"[concat(variables('factoryId'), '/datasets/Inbound_Covid19_Deaths')]",
				"[concat(variables('factoryId'), '/datasets/Http_Covid19_Cases')]",
				"[concat(variables('factoryId'), '/datasets/Inbound_Covid19_Cases')]",
				"[concat(variables('factoryId'), '/datasets/Raw_Covid19_Deaths')]",
				"[concat(variables('factoryId'), '/datasets/Raw_Covid19_Cases')]",
				"[concat(variables('factoryId'), '/datasets/Http_Covid19_Vaccinations')]",
				"[concat(variables('factoryId'), '/datasets/Inbound_Covid19_Vaccinations')]",
				"[concat(variables('factoryId'), '/datasets/Raw_Covid19_Vaccinations')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Raw - Base')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Transform - Raw to Base - Fct_Cases",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/lirkov/Covid-19/Transform - Raw to Base - Fct.Cases"
						},
						"linkedServiceName": {
							"referenceName": "lirkov_databricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transform - Raw to Base - Fct_Deaths",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/lirkov/Covid-19/Transform - Raw to Base - Fct.Deaths"
						},
						"linkedServiceName": {
							"referenceName": "lirkov_databricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transform - Raw to Base - Fct_Vaccinations",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/lirkov/Covid-19/Transform - Raw to Base - Fct.Vaccinations"
						},
						"linkedServiceName": {
							"referenceName": "lirkov_databricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lirkov_databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Warehouse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Base - Stage_Cases",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [Stage].[Cases]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CasesKey",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CasesKey",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country/Region",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "DateTime",
											"physicalType": "DATE"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "Value",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Base_Covid19_Cases",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Stage_Cases",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Base - Stage_Deaths",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [Stage].[Deaths]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DeathsKey",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DeathsKey",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country/Region",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "DateTime",
											"physicalType": "DATE"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "Value",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Base_Covid19_Deaths",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Stage_Deaths",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Execute_StageToFctCases",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Base - Stage_Cases",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Stage].[StageToFctCases]"
						},
						"linkedServiceName": {
							"referenceName": "lirkovdb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Execute_StageToFctDeaths",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Base - Stage_Deaths",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Stage].[StageToFctDeaths]"
						},
						"linkedServiceName": {
							"referenceName": "lirkovdb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Base - Stage_Vaccinations",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [Stage].[Vaccinations]",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Base_Covid19_Vaccinations",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Stage_Vaccinations",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Execute_StageToFctVaccinations",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Base - Stage_Vaccinations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Stage].[StageToFctVaccinations]"
						},
						"linkedServiceName": {
							"referenceName": "lirkovdb",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Base_Covid19_Cases')]",
				"[concat(variables('factoryId'), '/datasets/Stage_Cases')]",
				"[concat(variables('factoryId'), '/datasets/Base_Covid19_Deaths')]",
				"[concat(variables('factoryId'), '/datasets/Stage_Deaths')]",
				"[concat(variables('factoryId'), '/linkedServices/lirkovdb')]",
				"[concat(variables('factoryId'), '/datasets/Base_Covid19_Vaccinations')]",
				"[concat(variables('factoryId'), '/datasets/Stage_Vaccinations')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Base_Covid19_Cases')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adlslirkov",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Base"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Fct.Cases_export.parquet",
						"folderPath": "base/Cases",
						"fileSystem": "covid"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Key",
						"type": "UTF8"
					},
					{
						"name": "Province/State",
						"type": "UTF8"
					},
					{
						"name": "Country/Region",
						"type": "UTF8"
					},
					{
						"name": "Lat",
						"type": "DOUBLE"
					},
					{
						"name": "Long",
						"type": "DOUBLE"
					},
					{
						"name": "Date",
						"type": "DATE"
					},
					{
						"name": "Value",
						"type": "INT32"
					},
					{
						"name": "CountryCode",
						"type": "UTF8"
					},
					{
						"name": "RegionCode",
						"type": "INT32"
					},
					{
						"name": "SubRegionCode",
						"type": "INT32"
					},
					{
						"name": "IntermediateRegionCode",
						"type": "INT32"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adlslirkov')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Base_Covid19_Deaths')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adlslirkov",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Base"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Fct.Deaths_export.parquet",
						"folderPath": "base/Deaths",
						"fileSystem": "covid"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Key",
						"type": "UTF8"
					},
					{
						"name": "Province/State",
						"type": "UTF8"
					},
					{
						"name": "Country/Region",
						"type": "UTF8"
					},
					{
						"name": "Lat",
						"type": "DOUBLE"
					},
					{
						"name": "Long",
						"type": "DOUBLE"
					},
					{
						"name": "Date",
						"type": "DATE"
					},
					{
						"name": "Value",
						"type": "INT32"
					},
					{
						"name": "CountryCode",
						"type": "UTF8"
					},
					{
						"name": "RegionCode",
						"type": "INT32"
					},
					{
						"name": "SubRegionCode",
						"type": "INT32"
					},
					{
						"name": "IntermediateRegionCode",
						"type": "INT32"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adlslirkov')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Base_Covid19_Vaccinations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adlslirkov",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Base"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Fct.Vaccinations_export.parquet",
						"folderPath": "base/Vaccinations",
						"fileSystem": "covid"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "VaccinationsKey",
						"type": "UTF8"
					},
					{
						"name": "Country",
						"type": "UTF8"
					},
					{
						"name": "CountryCode",
						"type": "UTF8"
					},
					{
						"name": "Date",
						"type": "DATE"
					},
					{
						"name": "TotalVaccinations",
						"type": "INT32"
					},
					{
						"name": "PeopleVaccinated",
						"type": "INT32"
					},
					{
						"name": "PeopleFullyVaccinated",
						"type": "INT32"
					},
					{
						"name": "TotalBoosters",
						"type": "INT32"
					},
					{
						"name": "DailyVaccinationsRaw",
						"type": "INT32"
					},
					{
						"name": "DailyVaccinations",
						"type": "INT32"
					},
					{
						"name": "TotalVaccinationsPerHundred",
						"type": "DOUBLE"
					},
					{
						"name": "PeopleVaccinatedPerHundred",
						"type": "DOUBLE"
					},
					{
						"name": "PeopleFullyVaccinatedPerHundred",
						"type": "DOUBLE"
					},
					{
						"name": "TotalBustersPerHundred",
						"type": "DOUBLE"
					},
					{
						"name": "DailyVaccinationsPerMillion",
						"type": "INT32"
					},
					{
						"name": "DailyPeopleVaccinated",
						"type": "INT32"
					},
					{
						"name": "DailyPeopleVaccinatedPerHundred",
						"type": "DOUBLE"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adlslirkov')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Http_Covid19_Cases')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Http_Covid19_Cases",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Http"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Http_Covid19_Cases')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Http_Covid19_Deaths')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Http_Covid19_Deaths",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Http"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Http_Covid19_Deaths')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Http_Covid19_Vaccinations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Http_Covid19_Vaccinations",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Http"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Http_Covid19_Vaccinations')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Inbound_Covid19_Cases')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adlslirkov",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Inbound"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Covid19_Cases.csv",
						"folderPath": "inbound",
						"fileSystem": "covid"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adlslirkov')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Inbound_Covid19_Deaths')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adlslirkov",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Inbound"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Covid19_Deaths.csv",
						"folderPath": "inbound",
						"fileSystem": "covid"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adlslirkov')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Inbound_Covid19_Vaccinations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adlslirkov",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Inbound"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Covid19_Vaccinations.csv",
						"folderPath": "inbound",
						"fileSystem": "covid"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adlslirkov')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Raw_Covid19_Cases')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adlslirkov",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Raw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Raw_Covid19_Cases.csv",
						"folderPath": "raw",
						"fileSystem": "covid"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adlslirkov')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Raw_Covid19_Deaths')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adlslirkov",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Raw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Raw_Covid19_Deaths.csv",
						"folderPath": "raw",
						"fileSystem": "covid"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adlslirkov')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Raw_Covid19_Vaccinations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adlslirkov",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Raw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Raw_Covid19_Vaccinations.csv",
						"folderPath": "raw",
						"fileSystem": "covid"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adlslirkov')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stage_Cases')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lirkovdb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Warehouse"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Key",
						"type": "varchar"
					},
					{
						"name": "Province/State",
						"type": "varchar"
					},
					{
						"name": "Country/Region",
						"type": "varchar"
					},
					{
						"name": "Latitude",
						"type": "decimal",
						"precision": 11,
						"scale": 8
					},
					{
						"name": "Longitude",
						"type": "decimal",
						"precision": 11,
						"scale": 8
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "Value",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CountryCode",
						"type": "char"
					},
					{
						"name": "RegionCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SubRegionCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IntermediateRegionCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "Stage",
					"table": "Cases"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lirkovdb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stage_Deaths')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lirkovdb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Warehouse"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Key",
						"type": "varchar"
					},
					{
						"name": "Province/State",
						"type": "varchar"
					},
					{
						"name": "Country/Region",
						"type": "varchar"
					},
					{
						"name": "Latitude",
						"type": "decimal",
						"precision": 11,
						"scale": 8
					},
					{
						"name": "Longitude",
						"type": "decimal",
						"precision": 11,
						"scale": 8
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "Value",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CountryCode",
						"type": "char"
					},
					{
						"name": "RegionCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SubRegionCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IntermediateRegionCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "Stage",
					"table": "Deaths"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lirkovdb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stage_Vaccinations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lirkovdb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Warehouse"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "VaccinationsId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "VaccinationsKey",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "varchar"
					},
					{
						"name": "CountryCode",
						"type": "char"
					},
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "TotalVaccinations",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PeopleVaccinated",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PeopleFullyVaccinated",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TotalBoosters",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DailyVaccinationsRaw",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DailyVaccinations",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TotalVaccinationsPerHundred",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "PeopleVaccinatedPerHundred",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "PeopleFullyVaccinatedPerHundred",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "TotalBustersPerHundred",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "DailyVaccinationsPerMillion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DailyPeopleVaccinated",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DailyPeopleVaccinatedPerHundred",
						"type": "decimal",
						"precision": 4,
						"scale": 3
					},
					{
						"name": "LoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "Stage",
					"table": "Vaccinations"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lirkovdb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Http_Covid19_Cases')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "The dataset is updated daily.",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('Http_Covid19_Cases_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Http_Covid19_Deaths')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "The datasets is updated daily.",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('Http_Covid19_Deaths_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Http_Covid19_Vaccinations')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('Http_Covid19_Vaccinations_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adlslirkov')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('adlslirkov_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('adlslirkov_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lirkov_databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-8552071745430960.0.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('lirkov_databricks_accessToken')]"
					},
					"existingClusterId": "1026-042944-a63fqu7g"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lirkovdb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('lirkovdb_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lirkovdl')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('lirkovdl_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('lirkovdl_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Schedule Global Executer')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Global Executor",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2021-12-14T12:12:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								11
							],
							"weekDays": [
								"Monday",
								"Tuesday",
								"Wednesday",
								"Thursday",
								"Friday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Global Executor')]"
			]
		}
	]
}