Azure Data Factory/pipeline/IngestFile_BIMS.json
{
	"name": "IngestFile_BIMS",
	"properties": {
		"activities": [
			{
				"name": "Get BIMS File Names",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BIMS_27122021_10012022",
						"type": "DatasetReference",
						"parameters": {
							"Directory": {
								"value": "@pipeline().parameters.SourceDirectory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "For Each BIMS File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get BIMS File Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get BIMS File Names').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set DestinationDirectory Variable",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DestinationDirectory",
								"value": {
									"value": "@concat(\n    substring(item().name, sub(length(item().name),8), 4),\n    '/',\n    substring(item().name, 4, 4),\n    '/',\n    substring(item().name, 2, 2),\n    '/',\n    substring(item().name, 0, 2)\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy BIMS Files to Raw",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat(\n    pipeline().parameters.SourceDirectory,\n    item().name\n)",
											"type": "Expression"
										},
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "BIMS_27122021_10012022",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@concat(\n    pipeline().parameters.SourceDirectory,\n    item().name\n)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BIMS_parquet",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@concat(\n    'raw/',\n    substring(item().name, sub(length(item().name),8), 4),\n    '/',\n    substring(item().name, 4, 4),\n    '/',\n    substring(item().name, 2, 2),\n    '/',\n    substring(item().name, 0, 2)\n)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SourceDirectory": {
				"type": "string",
				"defaultValue": "27122021 to 10012022 BIMS/"
			}
		},
		"variables": {
			"DestinationDirectory": {
				"type": "String"
			}
		},
		"folder": {
			"name": "BaggageDNA"
		},
		"annotations": []
	}
}